.body{
    width: 100%;
    text-align: center;
    font-size:25px;
    background-color: red;
    padding: 10px 0;
    color: white;
    font-weight:700;
    border-bottom: 8px solid orange;
    position: fixed;
    top: 0;
    z-index: 2;
}